body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  height: 210px;
  background-color: darkslategray;
  display: flex;
  text-align: center;
}

.food-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:500px;
  width: 400px;
  border:2px grey solid;
  margin-bottom: 10px;
}

.home{
  height: 600px;
  width: auto;
  background-image: url("https://i.pinimg.com/736x/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg");
}
